<h1>Images for weather-appropriate clothing, depending on weather criteria</h1>
      <img src="images/veryhot.JPG" alt="very hot" width="500" height="500">
    <div class=images_weather>
      <img src="images/sunny.JPG" alt="sunny" width="500" height="auto">
      <img src="images/chilly.JPG" alt="chilly" width="500" height="auto">
      <img src="images/verycold.JPG" alt="verycold" width="500" height="auto">
    </div>
    <p>This is the about view.</p>
  <h1>Let's add some numbers!</h1>
  <h2>MATHEMATICS</h2>
    <div ng-app ng-init="firstnum=1;secondnum=2">
      <input type="number" min="0" ng-model="firstnum">
      plus
      <input type="number" min="0" ng-model="secondnum">
      equals
      <b>{{firstnum + secondnum}}</b>
      <span class="label label-success">{{firstnum + secondnum}}</span>
      <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
    </div>
