  <div class="container">
    <h2>Images</h2>
    <ul class="img-list">
      <li><img src="images/veryhot.JPG" alt="very hot" width="400" height="auto" class="veryhot" id="img-circle"></li><br>
      <li><img src="images/sunny.JPG" alt="sunny" width="auto" height="400" class="sunny" id="img-circle"></li><br>
      <li><img src="images/chilly.JPG" alt="chilly" width="auto" height="400" class="chilly" id="img-circle"></li><br>
      <li><img src="images/verycold.JPG" alt="verycold" width="auto" height="400" class="verycold" id="img-circle"></li><br>
      <li><video width="300" controls><source src="video/rainyseattle.mov" alt="rainyseattle" width="auto" height="400" class="rainyseattle" id="img-circle"></video></li>
    </ul>
  </div>



    <!-- <iframe class="embed-responsive-item" width="943" height="503" src="https://www.youtube.com/watch?v=4R0t3tp03JA" frameborder="0" allowfullscreen=""></iframe> -->
<!--  <h1>Let's add some numbers!</h1>
  <h2>MATHEMATICS</h2>
    <div ng-app ng-init="firstnum=1;secondnum=2">
      <input type="number" min="0" ng-model="firstnum">
      plus
      <input type="number" min="0" ng-model="secondnum">
      equals
      <b>{{firstnum + secondnum}}</b>
      <span class="label label-success">{{firstnum + secondnum}}</span>-->
      <p><a class="btn btn-lg btn-success" ng-href="#/">Go back home!
      <!--  <span class="glyphicon glyphicon-ok"></span>-->
      </a></p>
  <!--  </div> -->
