
<div ng-if="forecastData">
<h1>Dress yourself, Ninja!</h1>
<img src="images/Eli.jpg" alt="Eli shorts" style="width:650px;height:auto">
<!--<dl ng-repeat="prediction in forecastData.list" class="weather-forecast">
    <dt>Forecast for {{weather.dt*1000 | date:'MMM dd, yyyy'}}</dt>
    <dd>{{prediction.weather[0].main}}</dd>
    <dd>{{prediction.weather[0].description}}</dd>
    <dt>Temperature</dt>
    <dd>Min: {{prediction.temp.min}} &deg;C Max: {{prediction.temp.max}} &deg;C</dd>
</dl>-->
<div id="box">
  <p class="instruct"<a href="#">Wear shorts</a></p>
</div>
<!--<p><a ng-href="#/about/" class="btn btn-lg btn-primary" id="home-button">Images</a></p>


<!-- <div class="container-images">
  <h3>Yes, wear shorts!</h3>
    <img src="images/Eli.jpg" alt="Eli looking snazzy" width="600" height="auto">

<!--  <ul class="img-list">
    <li><img src="images/veryhot.jpg" alt="very hot" width="400" height="auto" class="veryhot" id="img-circle"></li><br>
    <li><img src="images/sunny.jpg" alt="sunny" width="auto" height="400" class="sunny" id="img-circle"></li><br>
    <li><img src="images/chilly.jpg" alt="chilly" width="auto" height="400" class="chilly" id="img-circle"></li><br>
    <li><img src="images/verycold.jpg" alt="verycold" width="auto" height="400" class="verycold" id="img-circle"></li><br>
    <li><video width="300" controls><source src="images/rainyseattle.mov" alt="rainyseattle" width="auto" height="400" class="rainyseattle" id="img-circle"></video></li>
  </ul>-->
<div class="rainy" ng-if="forecastData"></div>
