<!-- <html>
<body> -->

  <div> <!--ng-app directive defines an AngularJS application-->
  	<h1>Can I wear shorts today?</h1>
    <h2>Helping kids find weather-dependant clothing solutions <br> so they can dress themselves</h2>
    <div class="left-half" >
      <div ng-app="">
        <p class="displayText">{{displayText}}</p>
    </div>
      <img ng-src="{{myPicture}}" class="ninja" width='600' height='600'/>
    </div>
  </div>


  <div class="right-half">
      <!-- <h3>Weather for: {{current.name}}</h3> -->
      <h3>Search by city and 2-letter State or Country</h3>
    <p class="lead"></p>
      <div ng-init="location='Seattle'">
          <p>
            <label for="location">
              <!--ng-model directive binds the value of HTML controls (input, select, textarea) to application data.-->
              <input type="text" name="location" ng-model="location" class="city_name">
            </label>
            <button class="btn btn-lg btn-primary" id="button" ng-click="searchQuery()">Find City</button>
          </p>
          <!-- <div ng-if="searchQuery"> -->
             <!-- <p class="lead">{{citiesFound.count}} cities found matching the query: {{searchQuery}}.</p> -->
        <div class="row">
          <div class="col-md-6">
          <dl class="city-listing" ng-repeat="city in citiesFound.list">
            <dd>{{city.name}}<dd>
            <dt>Temperature</dt>
            <dd>{{city.main.temp}} &deg;C</dd>
            <dt>Description</dt>
            <dd>{{city.weather[0].description}}</dd>
            <dt>Current Weather</dt>
            <dd>{{city.weather[0].main}}</dd>
            <dt>Clouds</dt>
            <dd>{{city.clouds.all}} %</dd>
            <dt>Humidity</dt>
            <dd>{{city.main.humidity}} %</dd>
            <dt>Country</dt>
            <dd>{{city.sys.country}}</dd>
              <button ng-click="showOutfit(city.main.temp, city.main.humidity)" id="button" class="btn btn-lg btn-primary">Find Outfit</button>
            </dl>
          </div>
          <div class="col-md-6">
            <div ng-if="storage.recentSearches" ng-repeat = "city in storage.recentSearches">
            {{city}}
            </div>
          </div>

          </div>
  </div> <!--ng int-->
</div> <!--right half -->
<!-- </body>
</html> -->
